<div class = "page">
  <section class="sidebar">
      <div cdkDropList class="sidebar-items" (cdkDropListDropped)="drop($event)">
        @for (list of lists; track list){
          <div class="sidebar-item" cdkDrag>
            {{list.text}}
            <fa-icon [icon]="faXmark" class="delete-xmark" (click)="deleteList(list.id)"></fa-icon>
          </div>
        }
      </div>
  </section>

  <main class="bg-light">
    <section class="header">
      @if (isArrayEmpty(lists)) {
        <input type="text" [(ngModel)]="newText" class="textInput" placeholder="Type your list name and press enter" (keydown.enter)="addList()">
      }
      @else {
        <input type="text" [(ngModel)]="newText" class="textInput" placeholder="Type your list item and press enter" (keydown.enter)="addItem()">
      }
    </section>
    <section class="main-body">
      <div cdkDropList class="main-body-items" (cdkDropListDropped)="drop($event)">
        @for (item of items; track item){
          <div class="main-body-item" cdkDrag [ngStyle]="{'text-decoration': item.completed ? 'line-through' : 'none'}">{{item.text}}
            <fa-icon [icon]="faCheck" class="complete-check" (click)="toggleComplete(item.id)"></fa-icon>
            <fa-icon [icon]="faXmark" class="delete-xmark" (click)="deleteItem(item.id)"></fa-icon>
          </div>
        }
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>
